<script src="js/init.js"></script>

<!-- Header -->
<div class="wrapper">
	<div id="hero">
		<div class="headline-main">
			<h1 id="hello">GOLDMORNING SHOP</h1>
			<i class="fa fa-chevron-down fa-3x" onClick="scroll(0, 828);"></i>
		</div>
	</div>

<!-- End Header -->


<!-- Nav Start -->

	<nav>
     <div class="nav-wrapper">
       <a href="#" class="brand-logo">GM.S</a>
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color: black">list</i></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">

          <li><a ng-click="productFilter = ''">ALL</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Dresses'}">DRESSES</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Tops'}">TOPS</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Bottoms'}">BOTTOMS</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Rompers'}">ROMPERS</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Accessories'}">ACCESSORIES</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Soaps/Scrubs'}">BODY</a></li>
          <li><a cart-modal ng-click="getTotal()"><i class="material-icons">shopping_basket</i></a></li>
       </ul>

    <!-- Navbar Collapses for Mobile -->

       <ul class="side-nav" id="mobile-demo">
        <li><a ng-click="productFilter = {productCategory: 'Dresses'}">DRESSES</a></li>
        <li><a ng-click="productFilter = {productCategory: 'Tops'}">TOPS</a></li>
        <li><a ng-click="productFilter = {productCategory: 'Bottoms'}">BOTTOMS</a></li>
        <li><a ng-click="productFilter = {productCategory: 'Rompers'}">ROMPERS</a></li>
        <li><a ng-click="productFilter = {productCategory: 'Accessories'}">ACCESSORIES</a></li>
        <li><a ng-click="productFilter = {productCategory: 'Soaps/Scrubs'}">BODY</a></li>
        <li><a href="#">YOUR BAG</a></li>
      </ul>
     </div>
 	</nav>


<!-- Nav End -->

<main>
<!-- Product Grid -->
<div class="wrapper">
	<div id="products" class="row">
		<div product="product" ng-repeat="product in products | orderBy: 'dateCreated': true | filter: productFilter" class="col s12 m6 l4">
			<ul class="grid size-style">
				<li ng-repeat="colorSize in product.colorSize">
					<figure>
						<img ng-click="productModalData(product); open()" src="{{ colorSize.mainImg }}">
						<figcaption>
							<div class="add-size" ng-show="!anyAvailable(colorSize)">
              <p class="bag">ADD TO BAG</p>

              <span class="inStock" ng-show="inStock(colorSize.largeQty)"  ng-click="addProductToCart(product, colorSize, sizes[2])" onclick="Materialize.toast('ITEM ADDED TO BAG', 4000, 'rounded')">L</span>
              <span class="outOfStock" ng-show="!inStock(colorSize.largeQty)">L</span>

              <span class="inStock" ng-show="inStock(colorSize.mediumQty)" ng-click="addProductToCart(product, colorSize, sizes[1])" onclick="Materialize.toast('ITEM ADDED TO BAG', 4000, 'rounded')">M</span>
              <span class="outOfStock" ng-show="!inStock(colorSize.mediumQty)">M</span>

							<span class="inStock" ng-show="inStock(colorSize.smallQty)" ng-click="addProductToCart(product, colorSize, sizes[0])" onclick="Materialize.toast('ITEM ADDED TO BAG', 4000, 'rounded')">S</span>
              <span class="outOfStock" ng-show="!inStock(colorSize.smallQty)">S</span>
							</div>

              <div class="test" ng-show="anyAvailable(colorSize)">
                <span>WANT TO SEE THIS ITEM COME BACK?</span>
                <input ng-model="comeBackEmail" type="email" placeholder=" Enter Email Here" />
              </div>

						</figcaption>
					</figure>

					<p class="product-price">${{ product.price }}</p>

				</li>
			</ul>
		</div>
	</div>
</div>
</main>

  <!-- PRODUCT MODAL DIRECTIVE -->

  <product-modal
    ng-show="openProductModal"
    open-product-modal="openProductModal"
    product="product"
    open="open()"
    product-modal-data="productModalData(product)">
  </product-modal>

  <!-- END PRODUCT MODAL DIRECTIVE -->
</div> <!-- End Product Grid -->

<!-- Start Shopping Bag Modal -->

<div id="modal2" class="modal">
  <div class="modal-content">
    <div class="shopping-bag-title-container">
      <div>SHOPPING BAG</div>
    </div>
    <div class="whole-cart">
      <div class="each-product-container" ng-repeat="product in cart">
        <div class="interior-product-container">
          <div class="cart-pic-container">
            <img class="cart-pic" src="{{product.imageUrl}}" />
          </div>
          <div class="product-name-and-info-box">
            <div class="product-name">{{product.name}}</div>
            <div class="product-info-box">
              <div class="individual-product-info-box size-container">
                <div class="product-category-name">SIZE</div>
                <div>{{product.size}}</div>
              </div>
              <div class="individual-product-info-box color-container">
                <div class="product-category-name">COLOR</div>
                <div>{{product.color}}</div>
              </div>
              <div class="individual-product-info-box price-container">
                <div class="product-category-name">PRICE</div>
                <div>${{product.price}}</div>
              </div>
            </div>
          </div>
          <div class="individual-product-info-box remove-box">
          <div class="remove-product" ng-click="removeProductFromCart(product.refId)">
            <div>X</div>
          </div>
        </div>
        </div>

      </div>
    </div>  
    <div class="cart-total">
      <div class="total-price"><h5>TOTAL: ${{total}}</h5></div>
      <a ng-href="/#/checkout" class="checkout-button">CHECKOUT</a>
    </div>
  </div>
</div>


<!-- End Shopping Bag Modal -->

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5>CONNECT</h5>
          <span><a href="https://instagram.com/goldmorning/?hl=en"><i class="fa fa-instagram fa-2x"></i></a></span>
          <span><a href="http://goldmorningblog.com/"><i class="fa fa-tumblr fa-2x"></i></a></span>
          <span><a href="https://www.pinterest.com/beulah_anne/goldmorning-shop/"><i class="fa fa-pinterest fa-2x"></i></a></span>
            </div>
              <div class="col l2 offset-l2 s12" id="contact">
                <h6>CONTACT</h6>
                <ul>
                  <li><a href="#!">ABOUT</a></li>
                  <li><a href="#!">SHOP POLICIES</a></li>
                </ul>
              </div>
            </div>
          </div>
      <div class="footer-copyright">
        <div class="container">
          © 2015 copyright text
          <a class="right" href="/#/admin/login">ADMIN LOGIN</a>
        </div>
      </div>
</footer>





