<script src="js/init.js"></script>

<!-- Header -->
<div class="wrapper">
	<div id="hero">
		<div class="headline-main">
			<h1 id="hello">GOLDMORNING SHOP</h1>
			<i class="fa fa-chevron-down fa-3x" onClick="scroll(0, 828);"></i>
		</div>
	</div>

<!-- End Header -->


<!-- Nav Start -->

	<nav>
     <div class="nav-wrapper">
       <a href="#" class="brand-logo">GM.S</a>
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color: black">list</i></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">

          <li><a ng-click="productFilter = ''">ALL</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Dresses'}">DRESSES</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Tops'}">TOPS</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Bottoms'}">BOTTOMS</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Rompers'}">ROMPERS</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Accessories'}">ACCESSORIES</a></li>
          <li><a ng-click="productFilter = {productCategory: 'Soaps/Scrubs'}">BODY</a></li>
          <li><a cart-modal ng-click="getTotal()"><i class="material-icons">shopping_basket</i></a></li>
       </ul>

    <!-- Navbar Collapses for Mobile -->

       <ul class="side-nav" id="mobile-demo">
        <li><a ng-click="productFilter = {productCategory: 'Dresses'}">DRESSES</a></li>
        <li><a ng-click="productFilter = {productCategory: 'Tops'}">TOPS</a></li>
        <li><a ng-click="productFilter = {productCategory: 'Bottoms'}">BOTTOMS</a></li>
        <li><a ng-click="productFilter = {productCategory: 'Rompers'}">ROMPERS</a></li>
        <li><a ng-click="productFilter = {productCategory: 'Accessories'}">ACCESSORIES</a></li>
        <li><a ng-click="productFilter = {productCategory: 'Soaps/Scrubs'}">BODY</a></li>
        <li><a href="#">YOUR BAG</a></li>
      </ul>
     </div>
 	</nav>


<!-- Nav End -->


<!-- Product Grid -->
<div class="wrapper">
	<div id="products" class="row">
		<div product="product" ng-repeat="product in products | orderBy: 'dateCreated': true | filter: productFilter" class="col s12 m6 l4">
			<ul class="grid size-style">
				<li ng-repeat="colorSize in product.colorSize">
					<figure>
						<img ng-click="productModalData(product); open()" src="{{ colorSize.mainImg }}">
						<figcaption>
							<span class="bag">ADD TO BAG</span>
							<div class="add-size" ng-repeat="size in sizes">
							<!-- need to pass in "color" -->
								<span ng-click="addProductToCart(product, colorSize, size)">{{size}}</span>
							</div>
						</figcaption>
					</figure>

					<p class="product-price">${{ product.price }}</p>

				</li>
			</ul>
		</div>
	</div>
</div>

  <!-- PRODUCT MODAL DIRECTIVE -->

  <product-modal
    ng-show="openProductModal"
    open-product-modal="openProductModal"
    product="product"
    open="open()"
    product-modal-data="productModalData(product)">
  </product-modal>

  <!-- END PRODUCT MODAL DIRECTIVE -->
</div> <!-- End Product Grid -->

<!-- Start Shopping Bag Modal -->

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Shopping Bag</h4>
      <div ng-repeat="product in cart">
        <img src="{{product.imageUrl}}" />
        <h6>{{product.name}}</h6>
        <p>{{product.price}}</p>
        <p>{{product.color}}</p>
        <p>{{product.size}}</p>
        <button ng-click="removeProductFromCart(product.refId)">x</button>
      </div>
      <h3>Total price: {{total}}</h3>
      <button ng-click="decSizesFromCart()">Decrement Sizes</button>
  </div>
  <div class="modal-footer">
      <a ng-href="/#/checkout" class=" modal-action modal-close waves-effect waves-green btn-flat">Go to Checkout</a>
    </div>
</div>


<!-- End Shopping Bag Modal -->





