
<!-- Header -->
<div class="wrapper">
	
	<div id="hero">
		<div class="logo">
			<h1 id="hello">GOLDMORNING SHOP</h1>
			<i class="fa fa-chevron-down fa-3x" onClick="scroll(0, 900);"></i>
		</div>
	</div>

<!-- End Header -->


<!-- Nav Start -->
<div id="sticky-wrapper" style="height: 50px;">
	

</div>


<!-- Nav End -->


<!-- Product Grid -->
	<div id="products">
		<h4>NAVBAR SHTUFF</h4>
		<p>clothes and clothes and dresses and tops and bottoms Next level ethical crucifix, asymmetrical American Apparel High Life fap meditation drinking vinegar cornhole street art church-key wayfarers mixtape. Roof party cray mumblecore butcher tofu, raw denim +1 fap Odd Future Williamsburg narwhal leggings bespoke hashtag. Keytar paleo flannel scenester letterpress, iPhone semiotics banjo polaroid. Paleo raw denim Blue Bottle jean shorts, pug crucifix bicycle rights flannel whatever beard Tumblr. Bespoke Vice health goth kogi, put a bird on it 8-bit vinyl retro heirloom hella 90's farm-to-table slow-carb. Neutra kale chips keytar, McSweeney's 3 wolf moon distillery tofu mustache sriracha normcore Pitchfork. Ennui post-ironic gluten-free, four loko PBR&B artisan taxidermy.</p>

		<p>clothes and clothes and dresses and tops and bottoms Next level ethical crucifix, asymmetrical American Apparel High Life fap meditation drinking vinegar cornhole street art church-key wayfarers mixtape. Roof party cray mumblecore butcher tofu, raw denim +1 fap Odd Future Williamsburg narwhal leggings bespoke hashtag. Keytar paleo flannel scenester letterpress, iPhone semiotics banjo polaroid. Paleo raw denim Blue Bottle jean shorts, pug crucifix bicycle rights flannel whatever beard Tumblr. Bespoke Vice health goth kogi, put a bird on it 8-bit vinyl retro heirloom hella 90's farm-to-table slow-carb. Neutra kale chips keytar, McSweeney's 3 wolf moon distillery tofu mustache sriracha normcore Pitchfork. Ennui post-ironic gluten-free, four loko PBR&B artisan taxidermy.</p>

		<p>clothes and clothes and dresses and tops and bottoms Next level ethical crucifix, asymmetrical American Apparel High Life fap meditation drinking vinegar cornhole street art church-key wayfarers mixtape. Roof party cray mumblecore butcher tofu, raw denim +1 fap Odd Future Williamsburg narwhal leggings bespoke hashtag. Keytar paleo flannel scenester letterpress, iPhone semiotics banjo polaroid. Paleo raw denim Blue Bottle jean shorts, pug crucifix bicycle rights flannel whatever beard Tumblr. Bespoke Vice health goth kogi, put a bird on it 8-bit vinyl retro heirloom hella 90's farm-to-table slow-carb. Neutra kale chips keytar, McSweeney's 3 wolf moon distillery tofu mustache sriracha normcore Pitchfork. Ennui post-ironic gluten-free, four loko PBR&B artisan taxidermy.</p>

		<p>clothes and clothes and dresses and tops and bottoms Next level ethical crucifix, asymmetrical American Apparel High Life fap meditation drinking vinegar cornhole street art church-key wayfarers mixtape. Roof party cray mumblecore butcher tofu, raw denim +1 fap Odd Future Williamsburg narwhal leggings bespoke hashtag. Keytar paleo flannel scenester letterpress, iPhone semiotics banjo polaroid. Paleo raw denim Blue Bottle jean shorts, pug crucifix bicycle rights flannel whatever beard Tumblr. Bespoke Vice health goth kogi, put a bird on it 8-bit vinyl retro heirloom hella 90's farm-to-table slow-carb. Neutra kale chips keytar, McSweeney's 3 wolf moon distillery tofu mustache sriracha normcore Pitchfork. Ennui post-ironic gluten-free, four loko PBR&B artisan taxidermy.</p>

		<p>clothes and clothes and dresses and tops and bottoms Next level ethical crucifix, asymmetrical American Apparel High Life fap meditation drinking vinegar cornhole street art church-key wayfarers mixtape. Roof party cray mumblecore butcher tofu, raw denim +1 fap Odd Future Williamsburg narwhal leggings bespoke hashtag. Keytar paleo flannel scenester letterpress, iPhone semiotics banjo polaroid. Paleo raw denim Blue Bottle jean shorts, pug crucifix bicycle rights flannel whatever beard Tumblr. Bespoke Vice health goth kogi, put a bird on it 8-bit vinyl retro heirloom hella 90's farm-to-table slow-carb. Neutra kale chips keytar, McSweeney's 3 wolf moon distillery tofu mustache sriracha normcore Pitchfork. Ennui post-ironic gluten-free, four loko PBR&B artisan taxidermy.</p>
	</div>
	

</div>