<script src="js/init.js"></script>
<!-- Start Product Modal -->
<!-- <div class="animated fadeIn">
	<div id="modal1" class="productModal">
	      <h4>{{ product.productTitle }}</h4>
	      <div class="slider" slider>
	      	<ul class="slides" ng-repeat="image in product.images">
	      		<li>
	      			<img ng-src="{{ image }}" />
	      		</li>
	      	</ul>
	      </div>
	      <p>{{ product.price }}</p>
	 </div>
</div> -->

<div class="animated fadeIn">
	<div id="modal1" class="productModal">
	      <h4>{{ product.productTitle }}</h4>

        <ul rn-carousel class="image"> HEY 
          <li ng-repeat="image in product.images">
            <img class="carousel_img" ng-src="{{ image }}"/>
          </li>
        </ul>

<!--    <div class="carousel" ng-repeat="image in product.images">
	      	<a class="thumbnail" href="{{ image }}"><img ng-src="{{ image }}" /></a>

	      </div>
	      
	      <div id="imageWrap">
	      		<img ng-src="https://s3-us-west-2.amazonaws.com/goldmorning/bottoms2.jpg" alt="Main Image" id="mainImage"/>
			</div>
 -->	      <p>{{ product.price }}</p>
	 </div>
</div>

<!-- End Product Modal -->