ORDERS
<div ng-repeat="order in orders | filter:search:strict">
	<div>{{order._id}}</div>
	<div>{{order.timePlaced}}</div>
	<div>{{order.user}}</div>
	<div>{{order.total}}</div>
<!-- 	<div>
		<select ng-options="option for option in paymentStatusOptions" ng-model="order.paymentStatus" material-select></select>
	</div> -->

	<div>
		<select class="" ng-model="order.status" material-select watch>
	    <option ng-repeat="status in orderStatusOptions">{{status}}</option></select>
	</div>

	<div>             
        Notes:
        <textarea type="text" ng-model="order.note" placeholder="Input any notes about the order."></textarea>
    </div>


	<div>
		<div><button ng-click="updateOrder(order._id, order.status)">update</button></div>
	</div>
	<div ng-click="showOrder(order)">
		<div ng-show="order.show">
			<div ng-repeat="product in order.products">
				<!-- not sure what this last prop on product.product is called -->
				{{product.product.productTitleField}}
			</div>
		</div>
	</div>
</div>