<!-- ORDERS
<div ng-repeat="order in orders | filter:search:strict">
	<div>Order ID #: {{order._id}}</div>
	</br>
	<div>{{order.timePlaced}}</div>
	<div>Order Total: ${{order.total}}</div>
	</br>
	Order Status:
	<div class="orderStatusDD">
		<select class="" ng-model="order.status" material-select watch>
	    	<option ng-repeat="status in orderStatusOptions">{{status}}</option>
		</select>
	</div>
		<div class="notesArea">
					Notes:             
				        <textarea type="text" ng-model="order.note" placeholder="Input any notes about the order."></textarea>
		</div>
	</br>


	<div>
		<div><button ng-click="updateOrder(order._id, order.note, order.status)">update</button></div>
	</div>

	<div ng-click="showOrder(order)"> MORE INFO
	        <div ng-show="order.show">
	            <div class="moreInfoBox" ng-repeat="product in order.products">
	            	{{order.total}}
	            	{{product.size}}
	                {{product.product.productTitle}}
	            </div>
	        </div>
    </div>	
			

	<hr>
</div> -->

<div class="row width80">
		<input class="col s4" type="text" ng-model="search.$" placeholder="Enter order Id or username"/>

		<select class="col s2 browser-default" ng-model="search.status" ng-options="option for option in orderStatusOptions"><option value=""disabled selected>Sort by order status</option></select> 
</div>

<select>Filter by Status:<option></option></select>
<div class="container">
<ul class="collapsible popout" data-collapsible="accordion" watch>
    <li ng-repeat="order in orders | filter:search">
        <div class="collapsible-header"></i>Order Id#: {{order._id}}, Order Status: {{order.status}}</div>
        <div class="collapsible-body">Order Status:
			<div class="orderStatusDD">
				<select class="" ng-model="order.status" material-select watch>
			    	<option ng-repeat="status in orderStatusOptions">{{status}}</option>
				</select>
			</div>
			<div class="notesArea">
					Notes:             
				        <textarea type="text" ng-model="order.note" placeholder="Input any notes about the order."></textarea>
			</div>
			<!-- add update button here -->
			<div>
                <button ng-click="updateOrder(order._id, order.note, order.status)" ng-disabled="disableButton">Update Order</button>
            </div>

            <!-- End update button -->




			<h3>Order Info:</h3>
			<div class="moreInfoBox" ng-repeat="product in order.products">
            	Product Title: {{product.product.productTitle}}
				</br>
            	Order Total: {{order.total}}
            	</br>
            	Product Size: {{product.size}}
            	</br>
            	Color: {{product.color}}
            	</br>
	        </div>
	        <h3>Purchaser Info</h3>
	        <div class="purchaseInfoContainer">
	    		Purchaser Name: {{purchaseInfo.customer.name}}
	        	</br>
	        	Shipping Address: {{purchaseInfo.customer.shippingAddresss}}
	        	</br>
	        	Email: {{purchaseInfo.customer.email}}
	        </div>
		</div>
    </li>
</ul>
</div>