body {
	height: 100%;
	width: 100%;
	margin: 0px 0px;
}


#hero {
	background-image: url(../images/test.jpg);
	background-size: cover;
	position: relative;
	height: 100vh;
}

#adminHero {
  background-image: url(../images/test2.jpg);
  background-size: cover;
  position: relative;
  height: 50vh;
}

.headline-main {
  position: absolute;
  top: 45%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size:3 6px;
  -ms-transform: translate(0,-50%);  /*IE 9*/ 
    -webkit-transform: translate(0,-50%);  /*Safari*/ 
    transform: translate(0,-50%);
}

#hello {
  font-weight: 100;
}

.fixed {
  position: fixed; 
  top: 0; 
  height: 70px; 
  z-index: 998;
}

nav a:hover {
  cursor: pointer;
}

/*PRODUCT GRID START*/

#products {
 /* display: flex;*/
  padding: 0px 20px;
  text-align: center;
  width: 90%;
  margin: 0px auto;
}

#products h4 {
  margin:0px 0px 30px 0px;
}

/* START ADD-TO-CART HOVER */

.grid {
  padding: 10px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 100%;
  margin: 25px auto;
  position: relative;
}

.grid figure {
  margin: 0 auto;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  /*display: block;*/
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  color: #000;
}

.grid figcaption h5 {
  margin: 0;
  padding: 0;
  color: #fff;
}


.grid figcaption .bag {
  float: left;
  margin: 3px 5px;
  /*border-radius: 2px;
  display: inline-block;
  background: #fff;*/
  color: #3a3a3a;
}

.grid figcaption .add-size {
  float: right;
}

.add-size span {
  margin-right: 20px;
  font-size: 20px;
}

.add-size span:hover {
  color: #727272;
  text-decoration: underline;
  cursor: pointer;
}

.size-style figure {
  overflow: hidden;
}

.size-style figure img:hover {
  transition: transform 0.4s;
  cursor: zoom-in; 

}

.size-style figcaption {
  height: 20%;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.size-style figure:hover figcaption {
  opacity: 0.8;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}

.adminEditBtn {
  color: #3a3a3a;
}

.adminEditBtn:hover {
  color: #727272;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 31.5em) {
  .grid {
    /*padding: 10px 10px 100px 10px;*/
    padding: 5px;
  }
  .grid li {
    width: 100%;
    min-width: 300px;
  }
}

.product-price {
  font-size: 18px;
  margin: 5px auto;
}

.preview {
  width: 200px;
  height: auto;
  display: inline-block;
}
/*.size-style figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}*/

.productModal {
  top: 20%;
  left: 25%;
  background: #fff;
  position: fixed;
/*  left: 0;
  right: 0;*/
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }
   will-change: top, opacity; }
  @media only screen and (max-width : 992px) {
    .modal {
      width: 80%; } }
  .productModal h1, .productModal h2, .productModal h3, .productModal h4 {
    margin-top: 0; }
  .productModal .modal-content {
    padding: 24px; }
  .productModal .modal-close {
    cursor: pointer; }
  .productModal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%; }
    .productModal .modal-footer .btn, .productModal .modal-footer .btn-large, .productModal .modal-footer .btn-flat {
      float: right;
      margin: 6px 0; }
}

.productModal.modal-fixed-footer {
  padding: 0;
  height: 70%; }
  .productModal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto; }
  .productModal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0; }

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity; }

/*Orders Page*/

.orderStatusDD {
  width: 8%;
}

.notesArea {
  width: 50%;
}

.moreInfoBox {
  background-color: green;
}