<div class="admin">
	<div class="container" id="adminLogin">
		<h1>GOLDMORNING SHOP</h1><br>
			<form class="col s12" id="loginForm">
				<div class="row">
			      <div class="input-field l8 s12">
			        <input id="email" type="email" class="validate">
			        <label for="email">EMAIL</label>
			      </div>
			   </div>
			  <div class="row">
			        <div class="input-field l8 s12">
			          <input id="password" type="password" class="validate">
			          <label for="password">PASSWORD</label>
			      </div>
				</div>
				<button type="submit">LOGIN</button>
			</form>
	</div>
</div>