SHOPPING CART
<div ng-init="getTotal()">
	<div ng-repeat="product in cart">
		<div class="product">
			<div>
				<img class="cart-images" ng-src="{{product.imageUrl}}" width="300px"/>
				<p>{{product.name}} | {{product.color}} | {{product.size}} | {{product.price}} 
				</p>			
				<button ng-click="removeProductFromCart(product._id)">Remove item from cart</button>
			</div>
		</div>
	</div>
	<div>total price: {{total}}</div>	
</div>
dfdsfsfsadfsadfasdf
<div>
	<div>
		<button ng-click="paypal()">pay with paypal</button>
	</div>
	<div>
		<p>Guest Checkout</p>
		Name: <input placeholder="Name">
		Email: <input placeholder="Email">
		Address: <input placeholder="Address">
		City: <input placeholder="City">
		State: <input placeholder="State">
		Zip: <input placeholder="Zip">
		CC Number: <input placeholder="CC">
		Exp Date: <input placeholder="Exp Date">
		CCV: <input placeholder="CCV">
	</div>
	<button ng-click="submitCC()">Submit Payment</button>
</div>