<div ng-repeat="product in products">
	<div>item: {{product.productTitle}}</div>
	<div>description: {{product.productDescription}}</div>
	<div>category: {{product.productCategory}}</div>
	<img width="300px" ng-src="{{product.image}}" alt="PLEASE UPLOAD A PICTURE"/>
	<div>price: ${{product.price}}</div>
	<div ng-repeat="size in product.colorSize">
		<div>color: {{size.color}}</div>
		<div style="font-size: 1.4rem; font-weight:bold">Sizes</div>
			<button ng-click="toggleShowEditSizes()">edit sizes</button>
		<div>small: {{size.smallQty}}</div>
		<input type="text" ng-show="showEditSizes" ng-model="newSmallQty">
				<i class="fa fa-times" ng-show="showEditSizes" ng-click="updateSmallQty(size._id, newSmallQty)"></i>
		<div>medium: {{size.mediumQty}}</div>
		<div>large: {{size.largeQty}}</div>
	</div>  
	<br><br>
</div>


		<!--REMOVE INLINE STYLING -- USED ONLY FOR READABILITY RIGHT NOW-->