		
		<!-- Product Grid -->
<div class="wrapper">
		
	<h1>Hello Beaulah</h1>
	<div id="products">

		<ul class="grid size-style" ng-repeat="product in products">
			<li ng-repeat="colorSize in product.colorSize">
				<figure>
						<img src="{{ colorSize.mainImg }}">
					<figcaption>
						<a class="waves-effect waves-light modal-trigger" ng-href="#/admin/product/{{product._id}}">
							<span class="bag">Edit Product</span>
						</a>
					</figcaption>
				</figure>
				<a class="waves-effect waves-light modal-trigger" ng-href="#/admin/product/{{product._id}}">
					<p>{{product.productTitle}}</p>
				</a>
				<p>details : {{product.productDescription}}</p>
				<p>category : {{product.productCategory}}</p>
				<h5>current selection</h5>
					<p>Sm : {{colorSize.smallQty}} | Med : {{colorSize.mediumQty}} | Lg : {{colorSize.largeQty}}</p>
				
					
				<p class="product-price">${{ product.price }}</p>

			</li>
		</ul>
	</div>
</div>
	<script src="js/materialize.js"></script>
	
	



		<!--REMOVE INLINE STYLING -- USED ONLY FOR READABILITY RIGHT NOW-->
		
			<!--OLD CODE - KEPT FOR REFERENCE -RH-->
			
	<!--
<div ng-repeat="product in products">
	<div>item: {{product.productTitle}}</div>
	<div>description: {{product.productDescription}}</div>
	<div>category: {{product.productCategory}}</div>
	
	<a class="waves-effect waves-light modal-trigger" ng-href="#/admin/product/{{product._id}}">
	<img width="300px" height="300px" ng-src="{{product.image}}" alt="PLEASE UPLOAD A PICTURE"/>
	</a>
	
	<div>price: ${{product.price}}</div>
	<div ng-repeat="size in product.colorSize">
		<div>color: {{size.color}}</div>
		<div style="font-size: 1.4rem; font-weight:bold">Sizes</div>
			<button ng-click="toggleShowEditSizes()">edit sizes</button>
		<div>small: {{size.smallQty}}</div>
		<input type="text" ng-show="showEditSizes" ng-model="size.smallQty">

		<div>medium: {{size.mediumQty}}</div>
		<div>large: {{size.largeQty}}</div>
	</div>  
		<i class="fa fa-times" ng-show="showEditSizes" ng-click="updateSmallQty(size._id, 	size.smallQty)"></i>
	<br><br>
</div>
 -->	